
#logo {
	margin-left:10vw;	
}

.nav {
	max-width:90vw;
}

.ml-auto{
	padding-right: 15vw;
}

.nav-link{
	margin-right: 30px;
}

.enlaces {
	padding-top:30px;
	a {
		font-size:20px;
	}
}
.profilepic{
	height:30px;
	margin-right:30px;
}

.svg-inline--fa.fa-w-14 {
	margin-left:30px;
    width: 1.2rem
}

.badge {
	background-color:red;
	margin-left:10px;
	color: #fff;
}

.titulo {
	display: block;
	width: 40vw;
}